{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="error-message">
    {% if form.non_field_errors %} 
                       
       {% for error in form.non_field_errors %}
          <p style="font-size: 13px;">
             {{ error|escape }}
          </p>
      {% endfor %} 
                       
    {% endif %}
</div>
<div id='register' class="container user-form mt-5">
    
    <div class="row">

        <form class="form-group " method="POST" action="{% url 'register' %}">
            {% csrf_token %}


            {% if form.errors %}

            <ul>
              {% for field in form %}
                  {% for error in field.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              {% endfor %}
            </ul>


            {% endif %}
            <div class="form-group">
              {{form.username.label}}
              <br>
              {{ form.username }}
              
            </div>
            <div class="form-group">
                {{form.password1.label}}
                <br>
                {{ form.password1 }}
            </div>
            <div class="form-group mb-2">
              {{form.password2.label}}
              <br>
              {{ form.password2 }}
            </div>
            <small id="emailHelp" class="form-text text-light">We'll never share your information with anyone else.</small>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
    
    </div>
    
    <div class="row mt-5">
        <h5>Already Signed up <a href="{% url 'login' %}">Sign In</a></h5>
    
    </div>

</div>
{% endblock %}