{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="error-message">
    {% if form.non_field_errors %} 
                       
       {% for error in form.non_field_errors %}
          <p style="font-size: 13px;">
             {{ error|escape }}
          </p>
      {% endfor %} 
                       
    {% endif %}
</div>
<div id='register' class="container">
    
    <form class="form-group" method="POST" action="{% url 'login' %}">

        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Sign in">
    </form>

    <h2>Not Already Signed up <a href="{% url 'register' %}">Sign Up</a></h2>
    
</div>
{% endblock %}