{% extends 'accounts/home.html' %}

{% load static %}

{% block content %}

<div class="container user-form mt-5">
    <div class="row">
        <form class="form-group" method="POST" action="{% url 'login' %}">

            {% csrf_token %}
            {% include 'components/_messages.html' %}
            {{form.as_p}}
            
            <input class="btn btn-primary" type="submit" value="Sign in">
        </form>
    </div>
    <div class="row mt-5"><h5>Not Already Signed up <a href="{% url 'register' %}">Sign Up</a></h5>
    </div>
    
</div>
{% endblock %}