{% extends 'base.html' %}

{% load static %}

{% block content %}

<div  class="container user-form mt-5">
    
    <div class="row">
        <form class="form-group" method="POST" action="{% url 'update-password' %}">
            {% csrf_token %}

            {% include 'components/_messages.html' %}
            
            <div class="form-group">
              {{form.current_password.label}}
              <br>
              {{ form.current_password }}
              
            </div>
            <div class="form-group">
                {{form.new_password.label}}
                <br>
                {{ form.new_password }}
            </div>
            <div class="form-group mb-2">
              {{form.confirm_new_password.label}}
              <br>
              {{ form.confirm_new_password }}
            </div>
            <small id="emailHelp" class="form-text text-light">We'll never share your information with anyone else.</small>
            <br>
            <button type="submit" class="btn btn-primary">Update Password</button>
          </form>
    </div>
    

    <div class="row mt-5">
        <p>Visit <a href="{% url 'home' %}">Home</a></p>
    </div>
    
    
</div>
{% endblock %}